body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

label
{
	font-size: 13px;
	font-weight: normal;		
	float: left;
	display: block;
	margin: 1px 19px 0 0;
	color:#666666;
}

.boxtitle {
	font-size: 15px;
	color: #000000;		
  	padding-left: 5px;
  	padding-right: 5px;
  	border:1px solid #C1DAD7;
  	background:#cbeae5;
}

.myForm 
{	
	width: 1000px;
}

.myForm fieldset
{	
	font-weight: normal;
	display: block;	
	margin-top:0px;
	padding: 5px;
	border: 2px solid #C1DAD7;
	background: #FAFFFE;	
}

.myForm input
{
	display: block;
	width: 150px;
}

.myForm select
{
	display: block;
	width: 150px;
}

.myForm input.button
{
	margin-top: 4px;
	margin-left: 4px;
	margin-bottom: 10px;
	float: right;
	clear: none;
	width: auto;
}


/* ---------- */

#mytable {
	padding: 0;
	margin: 0;
	border-left: 1px solid #C1DAD7;
	clear: both;
}

#mytable th {
	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;	
	text-align: left;
	padding: 3px 3px 1px 3px;
	background: #cbeae5 url(images/bg_header.jpg) no-repeat;	
}

#mytable td {
	font: 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 1px 1px 1px 3px;	
}

#mytable tr {
	background: #F1FFFa; 
	cursor: pointer;	
}
#mytable tr.alt {	
	background: #fff;
	cursor: pointer;	
}


#mytable tr:hover {
	background: #F9F900;
}

#mytable tr.alt:hover {
	background: #F9F900;
}

.formbox {
	float:left;
	display:block;
	margin-top:10px;
}

img {
	border: none;
}
