div.maindiv {
	margin:0 auto;
}	

.centth {
	text-align:center;
}


/* 
    progress bar 
*/

#progress {
 width: 100px;   
 height: 24px;
 border: 1px solid #c3c3c3;
 position: relative;
 padding: 0px;
}


#bar {
 height: 24px;
 background-color: rgb(0,100,24);
}
