/* tables */
table.tablesorter {
	font-family:Sans-Serif;
	background-color: #CDCDCD;
    margin-left:auto;
    margin-right:auto;
	font-size: 10pt;
	width: 50%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    text-align:center;
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
    text-align:center;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	white-space:nowrap;
	overflow:hidden; 
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.tablesorter-filter {
    width: 99%;
}